CONFIG_XFS_FS=n
CONFIG_OCFS2_FS=n
CONFIG_GFS2_FS=n
CONFIG_NILFS2_FS=n
CONFIG_REISERFS_FS=n
CONFIG_JFS_FS=n
CONFIG_ECRYPT_FS=n
CONFIG_HFS_FS=n
CONFIG_HFSPLUS_FS=n

CONFIG_DVB_CORE=n
CONFIG_DVB_USB=n
CONFIG_MEDIA_CONTROLLER_DVB=n

CONFIG_VIDEO_PVRUSB2_DVB=n
CONFIG_VIDEO_HDPVR=n
CONFIG_VIDEO_STK1160_COMMON=n
CONFIG_VIDEO_STK1160=n
CONFIG_VIDEO_GO7007=n
CONFIG_VIDEO_GO7007_USB=n
CONFIG_VIDEO_GO7007_LOADER=n
CONFIG_VIDEO_GO7007_USB_S2250_BOARD=n

#
# Analog/digital TV USB devices
#
CONFIG_VIDEO_AU0828=n
CONFIG_VIDEO_CX231XX_DVB=n

#
# Digital TV USB devices
#
CONFIG_DVB_USB_V2=n
CONFIG_DVB_USB_AF9015=n
CONFIG_DVB_USB_AF9035=n
CONFIG_DVB_USB_ANYSEE=n
CONFIG_DVB_USB_AU6610=n
CONFIG_DVB_USB_AZ6007=n
CONFIG_DVB_USB_CE6230=n
CONFIG_DVB_USB_EC168=n
CONFIG_DVB_USB_GL861=n
CONFIG_DVB_USB_MXL111SF=n
CONFIG_DVB_USB_RTL28XXU=n
CONFIG_DVB_USB_DVBSKY=n
CONFIG_SMS_USB_DRV=n
CONFIG_DVB_B2C2_FLEXCOP_USB=n
CONFIG_DVB_AS102=n

CONFIG_VIDEO_EM28XX_DVB=n

#
# Multistandard (satellite) frontends
#
CONFIG_DVB_STB0899=n
CONFIG_DVB_STB6100=n
CONFIG_DVB_STV090x=n
CONFIG_DVB_STV0910=n
CONFIG_DVB_STV6110x=n
CONFIG_DVB_STV6111=n
CONFIG_DVB_MXL5XX=n
CONFIG_DVB_M88DS3103=n

#
# Multistandard (cable + terrestrial) frontends
#
CONFIG_DVB_DRXK=n
CONFIG_DVB_TDA18271C2DD=n
CONFIG_DVB_SI2165=n
CONFIG_DVB_MN88472=n
CONFIG_DVB_MN88473=n

#
# DVB-S (satellite) frontends
#
CONFIG_DVB_CX24110=n
CONFIG_DVB_CX24123=n
CONFIG_DVB_MT312=n
CONFIG_DVB_ZL10036=n
CONFIG_DVB_ZL10039=n
CONFIG_DVB_S5H1420=n
CONFIG_DVB_STV0288=n
CONFIG_DVB_STB6000=n
CONFIG_DVB_STV0299=n
CONFIG_DVB_STV6110=n
CONFIG_DVB_STV0900=n
CONFIG_DVB_TDA8083=n
CONFIG_DVB_TDA10086=n
CONFIG_DVB_TDA8261=n
CONFIG_DVB_VES1X93=n
CONFIG_DVB_TUNER_ITD1000=n
CONFIG_DVB_TUNER_CX24113=n
CONFIG_DVB_TDA826X=n
CONFIG_DVB_TUA6100=n
CONFIG_DVB_CX24116=n
CONFIG_DVB_CX24117=n
CONFIG_DVB_CX24120=n
CONFIG_DVB_SI21XX=n
CONFIG_DVB_TS2020=n
CONFIG_DVB_DS3000=n
CONFIG_DVB_MB86A16=n
CONFIG_DVB_TDA10071=n

#
# DVB-T (terrestrial) frontends
#
CONFIG_DVB_SP887X=n
CONFIG_DVB_CX22700=n
CONFIG_DVB_CX22702=n
CONFIG_DVB_S5H1432=n
CONFIG_DVB_DRXD=n
CONFIG_DVB_L64781=n
CONFIG_DVB_TDA1004X=n
CONFIG_DVB_NXT6000=n
CONFIG_DVB_MT352=n
CONFIG_DVB_ZL10353=n
CONFIG_DVB_DIB3000MB=n
CONFIG_DVB_DIB3000MC=n
CONFIG_DVB_DIB7000M=n
CONFIG_DVB_DIB7000P=n
CONFIG_DVB_DIB9000=n
CONFIG_DVB_TDA10048=n
CONFIG_DVB_AF9013=n
CONFIG_DVB_EC100=n
CONFIG_DVB_STV0367=n
CONFIG_DVB_CXD2820R=n
CONFIG_DVB_CXD2841ER=n
CONFIG_DVB_RTL2830=n
CONFIG_DVB_RTL2832=n
CONFIG_DVB_RTL2832_SDR=n
CONFIG_DVB_SI2168=n
CONFIG_DVB_ZD1301_DEMOD=n
CONFIG_DVB_CXD2880=n

#
# DVB-C (cable) frontends
#
CONFIG_DVB_VES1820=n
CONFIG_DVB_TDA10021=n
CONFIG_DVB_TDA10023=n
CONFIG_DVB_STV0297=n

#
# ATSC (North American/Korean Terrestrial/Cable DTV) frontends
#
CONFIG_DVB_NXT200X=n
CONFIG_DVB_OR51211=n
CONFIG_DVB_OR51132=n
CONFIG_DVB_BCM3510=n
CONFIG_DVB_LGDT330X=n
CONFIG_DVB_LGDT3305=n
CONFIG_DVB_LGDT3306A=n
CONFIG_DVB_LG2160=n
CONFIG_DVB_S5H1409=n
CONFIG_DVB_AU8522=n
CONFIG_DVB_AU8522_DTV=n
CONFIG_DVB_AU8522_V4L=n
CONFIG_DVB_S5H1411=n
CONFIG_DVB_MXL692=n

#
# ISDB-T (terrestrial) frontends
#
CONFIG_DVB_S921=n
CONFIG_DVB_DIB8000=n
CONFIG_DVB_MB86A20S=n

#
# ISDB-S (satellite) & ISDB-T (terrestrial) frontends
#
CONFIG_DVB_TC90522=n
CONFIG_DVB_MN88443X=n

#
# Digital terrestrial only tuners/PLL
#
CONFIG_DVB_PLL=n
CONFIG_DVB_TUNER_DIB0070=n
CONFIG_DVB_TUNER_DIB0090=n

#
# SEC control devices for DVB-S
#
CONFIG_DVB_DRX39XYJ=n
CONFIG_DVB_LNBH25=n
CONFIG_DVB_LNBH29=n
CONFIG_DVB_LNBP21=n
CONFIG_DVB_LNBP22=n
CONFIG_DVB_ISL6405=n
CONFIG_DVB_ISL6421=n
CONFIG_DVB_ISL6423=n
CONFIG_DVB_A8293=n
CONFIG_DVB_LGS8GL5=n
CONFIG_DVB_LGS8GXX=n
CONFIG_DVB_ATBM8830=n
CONFIG_DVB_TDA665x=n
CONFIG_DVB_IX2505V=n
CONFIG_DVB_M88RS2000=n
CONFIG_DVB_AF9033=n
CONFIG_DVB_HORUS3A=n
CONFIG_DVB_ASCOT2E=n
CONFIG_DVB_HELENE=n

#
# Common Interface (EN50221) controller drivers
#
CONFIG_DVB_CXD2099=n
CONFIG_DVB_SP2=n
CONFIG_DVB_NET=n

CONFIG_RC_CORE=n
CONFIG_NETFILTER=n
CONFIG_IPV6=n
CONFIG_USB_GADGET=n
CONFIG_NFS_FS=n
CONFIG_NFSD=n
CONFIG_UBIFS_FS=n
CONFIG_JFFS2_FS=n

CONFIG_VIDEO_TUNER=n
#
# Customize TV tuners
#
CONFIG_MEDIA_TUNER_SIMPLE=n
CONFIG_MEDIA_TUNER_TDA18250=n
CONFIG_MEDIA_TUNER_TDA8290=n
CONFIG_MEDIA_TUNER_TDA827X=n
CONFIG_MEDIA_TUNER_TDA18271=n
CONFIG_MEDIA_TUNER_TDA9887=n
CONFIG_MEDIA_TUNER_TEA5761=n
CONFIG_MEDIA_TUNER_TEA5767=n
CONFIG_MEDIA_TUNER_MSI001=n
CONFIG_MEDIA_TUNER_MT20XX=n
CONFIG_MEDIA_TUNER_MT2060=n
CONFIG_MEDIA_TUNER_MT2063=n
CONFIG_MEDIA_TUNER_MT2266=n
CONFIG_MEDIA_TUNER_MT2131=n
CONFIG_MEDIA_TUNER_QT1010=n
CONFIG_MEDIA_TUNER_XC2028=n
CONFIG_MEDIA_TUNER_XC5000=n
CONFIG_MEDIA_TUNER_XC4000=n
CONFIG_MEDIA_TUNER_MXL5005S=n
CONFIG_MEDIA_TUNER_MXL5007T=n
CONFIG_MEDIA_TUNER_MC44S803=n
CONFIG_MEDIA_TUNER_MAX2165=n
CONFIG_MEDIA_TUNER_TDA18218=n
CONFIG_MEDIA_TUNER_FC0011=n
CONFIG_MEDIA_TUNER_FC0012=n
CONFIG_MEDIA_TUNER_FC0013=n
CONFIG_MEDIA_TUNER_TDA18212=n
CONFIG_MEDIA_TUNER_E4000=n
CONFIG_MEDIA_TUNER_FC2580=n
CONFIG_MEDIA_TUNER_M88RS6000T=n
CONFIG_MEDIA_TUNER_TUA9001=n
CONFIG_MEDIA_TUNER_SI2157=n
CONFIG_MEDIA_TUNER_IT913X=n
CONFIG_MEDIA_TUNER_R820T=n
CONFIG_MEDIA_TUNER_MXL301RF=n
CONFIG_MEDIA_TUNER_QM1D1C0042=n
CONFIG_MEDIA_TUNER_QM1D1B0004=n
# end of Customize TV tuners

CONFIG_CAN=n
CONFIG_HAMRADIO=n
CONFIG_BONDING=n
CONFIG_PPP=n
